/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --primary:#1aac83;
  --error:#e7195a;
}
body{
  background: #f1f1f1;
  margin: 0;
}
header{
  background: #fff;

}

header .container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.workout-details{
  color: #1aac83;
  background-color: #333;
  padding-left: 10px;
  width: 300px;
height: 300px;
padding: 20px;
border-color: #1aac83;
border-radius: 30px;
border-style: dotted;
margin-left: 20px;
border: 3px solid;
margin-bottom: 20px;
}
.workouts{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
